{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <h1 class="mb-4">Media Downloader</h1>

        <!-- Video Download -->
        <div class="card mb-4">
            <div class="card-body">
                <h5>Video Download</h5>
                <form method="POST" action="{{ url_for('main.handle_video') }}">
                    <div class="input-group">
                        <input type="url" name="video_url" 
                               class="form-control" placeholder="YouTube/Instagram Etc.. URL" required>
                        <button class="btn btn-primary" type="submit">
                            Analyze Video
                        </button>
                    </div>
                </form>
            </div>
        </div>
{% endblock %}